@import "../src/assets/styles/reset";
@import "../src/assets/styles/fonts";
@import "../src/assets/styles/colors";

.App {
  @include NotoSans;
  color: $dark;

  width: 100vw;
  height: 100vh;

  display: flex;
  @import "../src/assets/styles/login";
  @import "../src/assets/styles/homepage";
  

  .offline-banner{
    width: 100%;
    font-size: 11px;
    background: $error;
    line-height: 15px;
    position: fixed;
    top: 0;
    text-align: center;
    left: 0;
    z-index: 1;

  }


  .loader {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid red;
    margin: auto;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &.light {
      border-color: $white;
      border-left-color: $dark;
    }
    &.dark {
      border-color: $black;
      border-left-color: $primary;
    }
    &.big{
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
