@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");

@mixin NotoSans {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}
@mixin NotoSansBold {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}
