.profile-loader{
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    
}

.profile-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: $dark;
  position: relative;
  padding-top: 50px;

  .balance {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    > img {
      height: 25px;
      width: 25px;
    }
  }

  .user-placeholder {
    width: 128px;
    // margin-top: 20px;
    height: 128px;
  }

  .name {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    text-transform: uppercase;
}
.address {
    line-height: 30px;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
}
