.homepage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .navigation{
        text-align: center;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        flex-shrink: 0;
        margin-top: auto;
        >.link{
            padding: 10px;
            // border: 1px solid red;
            width: 100%;
            font-size: 14px;
            background: $gray;
            border-bottom: none;
            color: $white;
            text-decoration: none;
            color: $dark;
            transition: all 0.2s ease-in;
            &.active{
                // font-weight: 700;
                background: $primary;
            }
            &:last-child{
                border-left: none;
            }
        }
    }
    .tabs{
        height: 100%;
        width: 100%;
        // overflow-y: scroll;
        // border: 5px solid gold;
        @import "./profile";
        @import "./invoice";
    }
}