.invoice-component {
  width: 100%;
  // background: red;
  margin: 0 auto;
  height: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 50px 10px;
  text-align: center;
  > h2 {
    font-size: 16px;
  }
  .date-picker {
    margin: 0 auto;
    // background: red;
    border: 1px;
    width: 100%;
    margin-top: 20px;
    .info {
      font-size: 16px;
      line-height: 50px;

      &.month {
        // margin-top: 100px;
      }
    }
    .year-range,
    .month-range {
      width: 100%;
      display: flex;
      margin-bottom: 30px;
      justify-content: space-evenly;
      .year,
      .month {
        cursor: pointer;
        padding: 3px 25px;
        flex-shrink: 0;
        font-size: 12px;
        line-height: 25px;
        background: $dark;
        color: #fff;
        border-radius: 4px;
        transition: all 0.2s ease-in;
        &.selected {
          background: $primary;
          color: $dark;
        }
      }
    }

    .month-range {
      flex-wrap: wrap;
      margin-bottom: 20px;
      justify-content: space-around;
      text-align: center;
      .month {
        padding: 3px 5px;
        width: 20%;
        font-size: 10px;
        margin: 10px;
      }
    }
  }
  .invoice-button {
    padding: 10px 30px;
    font-size: 14px;
    margin: 10px;
    background: $primary;
    color: $dark;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    border: 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

  .view-pdf {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .view,
    .download {
      width: 40%;
      padding: 10px 30px;
      font-size: 14px;
      margin: 10px;
      background: $primary;
      color: $dark;
      box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
      border: 0;
      border: none;
      border-radius: 30px;
    }
  }
  .pdf-generated{
    margin-top: 50px;
  }
  .download-another{
    margin: 30px 0;
    text-decoration: underline;
    cursor: pointer;
    color: $dark;
    }
}
