.login {
  //   width: 100px;
  //   height: 100px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid red;

  text-align: center;

  .logo {
    margin-top: -100px;
    // ^ making the form in center
    width: 100px;
    height: 100px;
  }
  .form {
    padding: 10px;
    margin: 10px;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    width: 95%;
    text-align: left;
    color: $dark;
    display: flex;
    flex-direction: column;

    .heading {
      font-size: 12px;
      margin: 10px 0 15px 0;
      text-align: center;
    }

    input {
      font-size: 18px;
      line-height: 30px;
      width: 80%;
      text-align: center;
      margin: 7px auto;
      border: 1px solid $dark;
      padding-left: 5px;
      border-radius: 4px;
      &::placeholder {
        color: $gray-light;
        font-size: 14px;
        text-transform: lowercase;
      }
      &:disabled {
        background: inherit;
      }
    }
    .erorr-toast {
      padding: 3px;
      color: $error;
      text-align: center;
      font-size: 12px;
    }
    button {
      width: 50%;
      min-width: 200px;
      margin: 15px auto 10px auto;
      font-size: 14px;
      text-transform: uppercase;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      background: $primary;
      color: $white;
      border-radius: 4px;
      &:disabled {
        background: $gray;
      }
    }
  }
}
